/* Basic body and container styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

svg#map {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
}

.subunit {
    fill: white;
    stroke: antiquewhite;
}
.subunit:hover {
    fill: whitesmoke;
}

.town {
    fill: red;
    stroke: white;
    stroke-width: 1px;
}
.town:hover {
    fill: yellow;
}

/* Tooltip styling */
.tooltip {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    display: none;
    pointer-events: none;
}

/* Control panel styling */
#control-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reload-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
#reload-button:hover {
    background-color: #0056b3;
}

#town-count-input {
    padding: 5px;
    width: 60px;
}
